Checks:
    - bugprone-*
    - cert-*
    - cppcoreguidelines-*
    - google-*
    - hicpp-*
    - concurrency*-
    - misc-*
    - -misc-include-cleaner
    - modernize-*
    - -modernize-use-trailing-return-type
    - performance-*
    - readability-*
    - llvm-*
    - -llvm-header-guard
    - portability-restrict-system-includes
    - clang-analyzer*
CheckOptions:
    - key: bugprone-argument-comment.StrictMode
      value: 1
    - key: bugprone-exception-escape.FunctionsThatShouldNotThrow
      value: WinMain,SDL_main
    - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
      value: 1
FormatStyle: "file"
